@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./shoppingimage.jpg");
    height: 160px;
    width: 100%;
    background-repeat: no-repeat;
    background-color: #A39CDF;
    background-position: left;
}
h1{
    padding: 20px;
    color: white;
    background-color: #0069E8;
    border-radius: 50px;
    border: 4px solid #293861;
}
.wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #A39CDF;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    height: 40%;
}
table{
    background-color: white;
    /* max-width: 200px; */
    max-height: 400px;
}
.container table thead th{
    background-color: #3A3A3A;
    color: white;
    padding: 20px;
}
td{
    padding: 5px;
}
.container table tr:nth-of-type(odd){
    background-color: #9E9E9E;
}
.container table tr:nth-of-type(even){
    background-color: #DDDDDD;
}
.amount{
    text-align: center;
}
.textend{
    text-align: end;
}
.container table tr:nth-of-type(7){
    background-color: #3A3A3A;
    color: white;
}
div.buttonbar{
    margin: 20px auto 0px;
}
button{
    padding: 8px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: tomato;
    color: white;
}
button:hover{
    cursor: pointer;
}